<?php

$config = array(
    'mysql' => array(
        'host' => '127.0.0.1',
        'database' => 'stats',
        'username' => 'root',
        'password' => 'toor'
    ),
    'redis' => array(
        'enabled' => true,
        'host' => 'localhost',
        'port' => '6379',
        'size' => 1000
    ),
    'basic_http_auth' => array(
         'user' => 'user',
         'password' => '123'
     )
);